<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title ion-text color="danger">
      My Health
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-item href="#">
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-card-content>Talk To A DOCTOR</ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>  
  <ion-item href="#">
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-card-content>FIND THE NEAREST</ion-card-content>
    </ion-item>
  </ion-card>


  <ion-card>
      <ion-item href="#">
          <ion-icon name="help" slot="start"></ion-icon>
          <ion-card-content>HEALTH QUESTION</ion-card-content>
        </ion-item>
  </ion-card>
  
  
  <ion-card>
      <ion-item href="#">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-card-content>CONSULTATION HISTORY</ion-card-content>
        </ion-item>
  </ion-card>
  

  <ion-card>
    <ion-item href="#" >
      <ion-icon name="contacts" slot="start"></ion-icon>
      <ion-card-content>DOCTOR APPOINTMENT</ion-card-content>
    </ion-item>
  </ion-card>

</ion-content>